public-hoist-pattern[]=@prisma/client
public-hoist-pattern[]=prisma
public-hoist-pattern[]=*@babel/runtime*
public-hoist-pattern[]=*@react-native*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*expo*
